@media only screen and (min-width: 220px) and (max-width: 425px) {
  .container {
    margin: 5px auto;
    width: auto;
  }
  /* DISPLAY NONE */
  .phoneNumber,
  .mainAnimalPhoto,
  .sortDown,
  .shopping,
  .headNav {
    display: none;
  }
  /* HAED */
  .mobileNav {
    display: block;
    margin-right: 15px;
  }
  .fa-bars {
    font-size: 28px;
    color: #000;
  }
  .header {
    left: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo {
    margin-left: 10px;
  }
  .powLogo img {
    height: 20px;
    width: 20px;
  }
  .powLogo {
    height: 40px;
    width: 40px;
  }
  .logo h1 {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 800;
    cursor: pointer;
  }
  .mobileBasket {
    display: block;
    order: 2;
  }
  .shoppingBasket {
    height: 40px;
    width: 40px;
  }
  .shoppingBasket i {
    color: var(--colors-font-color);
    font-size: 16px;
  }
  .fa-shopping-basket {
    color: var(--colors-font-color);
    font-size: 16px;
  }
  .search {
    justify-self: center;
    margin: 10px auto;
    width: 70%;
    order: 1;
  }
  .search input {
    font-size: 12px;
    padding: 5px 10px;
  }
  /* MAIN */
  .main {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

  }
  .titles {
    margin: auto;
    text-align: center;
  }
  .mainTitle p {
    font-size: 26px;
    font-weight: 700;
    justify-self: center;
  }
  .mainSubtitle p {
    font-size: 16px;
  }
  .mobileMainAnimal {
    display: block;
    justify-content: center;
  }
  .btn {
    margin: 5px auto;
    font-size: 14px;
  }
  .circle {

    width: 130px;
    height: 130px;
    border: 35px solid #ffca62;
    margin: auto 30px 50px auto;
  }
  .circle2 {
    position: absolute;
    top:  calc(30% + 15px);
    left: calc(62% - 65px);
    right: auto;
    margin: auto;
    max-width: 150px;
    max-height: 150px;
    filter: blur(30px);
    z-index: -1;
  }
  .animal {
    position: absolute;
    left: calc(40% - 150px);
    z-index: 1;
  }
  .animal img {
    width: 100%;
    height: auto;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    left: 0;
  }
  .cardsItem {
    margin: 5px;
    width: 100px;
    height: 140px;
  }
  .cardsItem p {
    font-size: 14px;
    margin-top: 5px;
  }
  .cardsItem img {
    display: block;
    background-size: cover;
  }
  .shopping {
    margin: 0;
  }
  /* FOOTER */
  .footer {
    width: 100%;
  }
  .footer .container {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
  }
  .footerTitle {
    text-align: center;
  }
  .social .shoppingBasket {
    height: auto;
    width: auto;
  }
  .social i {
    margin: 6px;
    font-size: 16px;
    cursor: pointer;
    color: var(--colors-primary-background);
  }
  .addressFooter {
    width: 100%;
    padding-left: 0;
    font-size: 14px;
  }
  .addressFooter i {
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #000;
  }
  .aboutUsFooter {
    padding: 5px;
    text-align: justify;
    font-size: 14px;
    width: 95%;
  }
  .contactUsFooeter {
    padding-left: 15px;
    width: 95%;
    justify-content: center;
  }
  .contactUsFooeter > .inputText {
    font-size: 14px;
  }
  .contactUsFooeter > .inputTextarea {
    font-size: 14px;
  }
}

@media only screen and(min-width:426px) and (max-width: 768px) {
  .container {
    margin: 5px auto;
    width: auto;
  }
}